/* .pageLayout {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

body {
  background-color: black;
}

@keyframes fade-in-body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in-body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in-body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.refBody {
  animation: 3s ease-in-out 0s 1 fade-in-body;
}

@keyframes fade-out-loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes fade-out-loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out-loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fade-out-loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loadingCards {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.02em;
  animation: 3s ease-in-out 0s 1 fade-out-loading;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.loadingCards {
  opacity: 0;
}

.ref-landing-body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.refineriesCanvas {
  /* animation: 1s ease-in-out 0s 1 fade-in-canvas; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 90px;
  background-color: rgba(255, 255, 255, 0.05);
  width: 85vw;
  height: 90vh;
  box-sizing: border-box;
  box-shadow: 2px 2px 25px 10px rgba(255, 255, 255, 0.1);
  overflow: scroll;
}
