.pageLayout {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.refineriesCanvas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.03);
  width: 85vw;
  height: 90vh;
  box-sizing: border-box;
  box-shadow: 2px 2px 25px 10px rgba(255, 255, 255, 0.1);
  overflow: scroll;
}
