@keyframes fade-in-body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in-body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in-body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sensorsPageLayout {
  background-color: black;
}

.frameBody {
  width: 100%;
  height: 100%;
}

.sensorModelFrame {
  width: 100vw;
  height: 100vh;
  border: none;
}

.sensorButtonArea {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 75px;
  margin-left: 25px;
}

.singleButton {
  margin: 20px !important;
}

.sensorCardInfoFilter {
  flex-wrap: wrap;
  position: absolute;
  font-size: 30px;
  color: white;
  margin-left: 25px;
  margin-top: 500px;
  width: 500px;
  height: 400px;
  transition: left 2.5s;
  background-color: rgba(255, 255, 255, 0.1);
}

.sensorCardInfoFilter:active {
  transition: 2.5s;
  left: 0;
}

.sensorCardInfoPump {
  flex-wrap: wrap;
  position: absolute;
  font-size: 30px;
  color: white;
  margin-left: 25px;
  margin-top: 500px;
  width: 500px;
  height: 400px;
  transition: left 2.5s;
  background-color: rgba(17, 25, 25, 0.8);
}

.sensorCardInfoPump:active {
  transition: 2.5s;
  left: 0;
}

.sensorCardInfoGenerator {
  flex-wrap: wrap;
  position: absolute;
  font-size: 30px;
  color: white;
  margin-left: 25px;
  margin-top: 500px;
  width: 500px;
  height: 400px;
  transition: left 2.5s;
  background-color: rgba(0, 0, 0, 0.8);
}

.sensorCardInfoGenerator:active {
  transition: 2.5s;
  left: 0;
}

.sensorCardInfoBoiler {
  flex-wrap: wrap;
  position: absolute;
  font-size: 30px;
  color: white;
  margin-left: 25px;
  margin-top: 500px;
  width: 500px;
  height: 400px;
  transition: left 2.5s;
  background-color: rgba(0, 0, 0, 0.8);
}

.sensorCardInfoBoiler:active {
  transition: 2.5s;
  left: 0;
}

.sensorValueType {
  font-family: "Montserrat", sans-serif;
  margin: 10px;
}
